.theme-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: gray;
  color: white;
}

.theme-switcher h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.theme-switcher button {
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

.light button {
  background-color: blue; 
  color: white;
  border: none;
}

.light button:hover {
  background-color: blue;
}

.dark button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.dark button:hover {
  background-color: white;
  color: black;
}
